{% extends "interface.html" %}

{% block page_content %}

<div class="col">
	<div class="row form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" style="width: 90px;">Batch ID</label>
			</div>
			<input type="text" class="form-control" id="batch" autofocus autocomplete="off" placeholder="&lt;batch id&gt;">
		</div>
	</div>
	<div class="row mb-3">
		<img id="image" class="img-responsive" src="/images/live?crop=rect&light=top"
			style="height:600px;max-width:100%;object-fit:contain;background:black">
	</div>
	<div class="row mb-3">
		<button id="refresh" type="button" class="btn mr-3 btn-secondary">Refresh</button>
		<button id="save" type="button" class="btn btn-secondary">Save</button>
	</div>

	<div class="row alert alert-warning" id="save_wait" style="display: none;">
		<strong>Please wait!</strong> Saving image
	</div>

	<div class="row alert alert-danger" id="save_fail" style="display: none;">
		<strong>Error!</strong> Failed to save image
	</div>

	<div class="row alert alert-success" id="save_ok" style="display: none;">
		<strong>Success!</strong> Saved image to disk
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="static/js/camera.js"></script>

{% endblock %}