{% extends "interface.html" %}

{% block page_content %}
<audio autoplay hidden>
	<source src="/static/2021-08-17_-_8_Bit_Nostalgia_-_www.FesliyanStudios.com.mp3" type="audio/mpeg">
</audio>
<div class="hiscore">
<div class="hiscore-header">

 ██░ ██  ██▓  ▄████  ██░ ██   ██████  ▄████▄   ▒█████   ██▀███  ▓█████ 
▓██░ ██▒▓██▒ ██▒ ▀█▒▓██░ ██▒▒██    ▒ ▒██▀ ▀█  ▒██▒  ██▒▓██ ▒ ██▒▓█   ▀ 
▒██▀▀██░▒██▒▒██░▄▄▄░▒██▀▀██░░ ▓██▄   ▒▓█    ▄ ▒██░  ██▒▓██ ░▄█ ▒▒███   
░▓█ ░██ ░██░░▓█  ██▓░▓█ ░██   ▒   ██▒▒▓▓▄ ▄██▒▒██   ██░▒██▀▀█▄  ▒▓█  ▄ 
░▓█▒░██▓░██░░▒▓███▀▒░▓█▒░██▓▒██████▒▒▒ ▓███▀ ░░ ████▓▒░░██▓ ▒██▒░▒████▒
 ▒ ░░▒░▒░▓   ░▒   ▒  ▒ ░░▒░▒▒ ▒▓▒ ▒ ░░ ░▒ ▒  ░░ ▒░▒░▒░ ░ ▒▓ ░▒▓░░░ ▒░ ░
 ▒ ░▒░ ░ ▒ ░  ░   ░  ▒ ░▒░ ░░ ░▒  ░ ░  ░  ▒     ░ ▒ ▒░   ░▒ ░ ▒░ ░ ░  ░
 ░  ░░ ░ ▒ ░░ ░   ░  ░  ░░ ░░  ░  ░  ░        ░ ░ ░ ▒    ░░   ░    ░   
 ░  ░  ░ ░        ░  ░  ░  ░      ░  ░ ░          ░ ░     ░        ░  ░
                                     ░                                 
</div>
<div class="hiscore-period">
{{ period }}
</div>
{% for sp in settleplates %}
<p><a href="/settleplate/{{ sp.ID }}">{{sp.Username.ljust(14,'.')}}{{sp.ScanDate.strftime("%Y%m%d").ljust(16,'.')}}{{sp.Location.ljust(22,'.')}}{{(sp.max_counts|string).rjust(5,'.')}}</a></p>
{% endfor %}
<br>
</div>
{% endblock %}