{% extends "interface.html" %}

{% block page_content %}
<div class="row justify-content-between">
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">From</label></div>
			<input type="date" class="form-control" id="date_from" value="{{date_from}}" required>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">To</label></div>
			<input type="date" class="form-control" id="date_to" value="{{date_to}}" required>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">Batch</label></div>
			<input type="text" class="form-control" id="batch" size=10 value="{{batch}}">
		</div>
	</div>
	<div class="col-auto">
		<button class="btn btn-primary" type="button" id="search">Search</button>
	</div>
</div>
<form class="form" method="post">
	<table class="table table-sm table-striped">
		<thead class="thead-light">
			{% if g.isAdmin %}
			<th scope="col"><i class="fa fa-trash"></i></th>
			{% endif %}
			<th scope="col">Scandate</th>
			<th class="text-center" scope="col">Barcode</th>
			<th class="text-center" scope="col">Counts</th>
			<th class="text-center" scope="col">Username</th>
			<th class="text-center" scope="col">Batch</th>
			<th class="text-center" scope="col">Location</th>
		</thead>
		<tbody>
			{% for sp in settleplates %}
			<tr>
				{% if g.isAdmin %}
				<td>
					<div class="checkbox">
						<input type="checkbox" name="selected" value="{{ sp.ID }}">
					</div>
				</td>
				{% endif %}
				<td class="text-monospace" scope="col"><small><a
						href="settleplate?id={{ sp.ID }}">{{ sp.ScanDate.strftime("%Y-%m-%d %H:%M") }}</a></small>
				</td>
				<td class="text-center text-monospace" scope="col"><small>{{ sp.Barcode }}</small></td>
				<td class="text-center text-monospace" scope="col"><small>{{ sp.Counts if (sp.Counts != -1) else 'reg' }}</small></td>
				<td class="text-center text-monospace" scope="col"><small>{{ sp.Username }}</small></td>
				<td class="text-center text-monospace" scope="col"><small>{{ sp.Batch }}</small></td>
				<td class="text-center text-monospace" scope="col"><small>{{ sp.Location }}</small></td>
			</tr>
			{% endfor %}
		<tbody>
	</table>
	{% if g.isAdmin %}
	<button type="submit" class="btn btn-primary">Delete selected</button>
	{% endif %}
</form>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="/static/js/list.js"></script>

{% endblock %}