{% extends "interface.html" %}
{% block page_content %}
<div class="card card-default mx-auto" style="width: 20rem;">
   <div class="card-header">Login</div>
   <div class="card-body">
      <form class="form login-form" id="login-form" method="post">
         <div class="input-group form-group">
            <div class="input-group-prepend">
               <label class="input-group-text" style="width: 90px;">User</label>
            </div>
            <input type="text" class="form-control" id="user" name="username" autocomplete="off">
         </div>
         <div class="input-group form-group" id="form-pwd" style="display:none;">
            <div class="input-group-prepend">
               <label class="input-group-text" style="width: 90px;">Password</label>
            </div>
            <input type="password" class="form-control" id="pwd" name="password" autocomplete="off">
         </div>
         <button type="submit" class="btn btn-primary form-group" style="width: 90px;">Login</button>
      </form>
   </div>
   {% if error %}
   <div class="alert alert-warning mt-3">
      <strong>Error!</strong> {{ error }}
   </div>
   {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
   $(document).ready(function() {
      $("#user").keydown(function (event) {
         // slide down password prompt if admin user, and set cursor to password
         if ($("#user").val() == 'admin') {
            $("#form-pwd").slideDown();
            if (event.keyCode == 13) {
               event.preventDefault();
               $("#pwd").focus();
            }
         }
         // remove "user:" from barcode reader
         else if ($("#user").val() == 'user:') {
            $("#user").val('')
         }
      });
   });
</script>
{% endblock %}