{% extends "interface.html" %}

{% block page_content %}
{% include "user_batch.html" %}

<div class="row">
	<div class="col form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" style="width: 90px;">Lot/No</label>
			</div>
			<input type="text" class="form-control" id="lotno" readonly placeholder="&lt;lotno&gt;">
			<div class="input-group-append">
					<div class="input-group-text"><i class="fa" id="lotno_glyph"></i></div>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" style="width: 90px;">Location</label>
			</div>
			<input type="text" class="form-control" id="location" readonly placeholder="&lt;location&gt;">
			<div class="input-group-append">
				<div class="input-group-text"><i class="fa" id="location_glyph"></i></div>
			</div>
		</div>
	</div>
</div>

<div class="alert alert-danger" id="duplicate" style="display: none;">
		<strong>Error!</strong> Settleplate already in database.
</div>

<table class="table table-striped">
	<thead class="thead-light">
		<tr>
			<th scope="col">Time</th>
			<th scope="col">Barcode</th>
			<th scope="col">Location</th>
		</tr>
	</thead>
	<tbody id="table_registered">
	</tbody>
</table>

<div class="progress">
		<div class="progress-bar progress-bar-striped progress-bar-animated" id="timeout" role="progressbar" style="width: 0%"></div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="static/js/register.js"></script>

{% endblock %}