{% extends "interface.html" %}

{% block page_content %}
<div class="row justify-content-between">
   <div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">Year</label></div>
			<select class="form-select" id="year">
            {% for y in range(now.year, now.year-5, -1) %}
               <option value="{{ y }}">{{ y }}</option>
            {% endfor %}
         </select>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">Period</label></div>
			<select class="form-select" id="period">
            <option value="52">Week</option>
            <option value="12">Month</option>
            <option value="4">Quarter</option>
         </select>
		</div>
	</div>
	<div class="col-auto form-group">
		<div class="input-group">
			<div class="input-group-prepend"><label class="input-group-text">Number</label></div>
			<select class="form-select" style="width:48px;" id="number">
         </select>
		</div>
	</div>
	<div class="col-auto noprint">
		<button class="btn btn-primary" type="button" id="generate">Generate</button>
	</div>
</div>

<div id="imagemodal" class="modal">
	<div class="modal-content">
		<div class="modal-body">
			<img src="" data-dismiss="modal" data-target="imagemodal" id="imagezoom" style="width:100%;cursor:zoom-out">
		</div>
	</div>
</div>


<table class="table table-sm">
	<thead>
		<th class="text-center" scope="col">Location</th>
		<th class="text-center" scope="col">Barcode</th>
		<th class="text-center" scope="col">Day (Hour)</th>
		<th class="text-center" scope="col">Operator</th>
		<th class="text-center" scope="col">Counts</th>
		<th class="text-center noprint" scope="col">Image</th>
	</thead>
	<tbody>
		{% for location in settleplates %}
		{% for tp in location %}
		{% set timedelta = ((tp.ScanDate - location[0].ScanDate).total_seconds()/3600) %}
			{% if loop.index == 1 %}	
				<tr class="table-subheader">
					<td class="text-center text-monospace" scope="col" rowspan{{ location|length }}><small>{{ tp.Location }}</small></td>
					<td class="text-center text-monospace" scope="col" rowspan{{ location|length }}><small>{{ tp.Barcode }}</small></td>
			{% else %}
				<tr>
					<td class="text-center text-monospace" scope="col" rowspan{{ location|length }}></td>
					<td class="text-center text-monospace" scope="col" rowspan{{ location|length }}></td>
			{% endif %}
				<td class="text-center text-monospace" scope="col"><small>{{ (timedelta/24)|round(0)|int }} ({{ timedelta|round(0)|int }})</small></td>
				<td class="text-center text-monospace" scope="col"><small>{{ tp.Username }}</small></td>
				{% if tp.Counts >= 0 %}
					<td class="text-center text-monospace" scope="col"><small>{{ tp.Counts }}</small></td>
					<td class="text-center noprint" scope="col"><a href="javascript: void(0)" onclick="settleplate_modal({{ tp.ID }})"><i class="fas fa-image"></i></a></td>
				{% else %}
					<td class="text-center text-monospace" scope="col"></td>
					<td class="text-center noprint" scope="col"></td>
				{% endif %}
			</tr>
		{% endfor %}
		{% endfor %}
	<tbody>
</table>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="static/js/report.js"></script>

{% endblock %}
