{% extends "interface.html" %}
{% block head %}
	{{ super() }}
	<script src="{{ url_for('static', filename='hive/tf.min.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='hive/CFUdetect.css')}}">
{% endblock %}
{% from "bootstrap4/form.html" import render_field %}
{% block page_content %}
<form class="form" method="post">
		{{ form.hidden_tag() }}
		<div class="row">
			<div class="col">{{ render_field(form.Username) }}</div>
			<div class="col">{{ render_field(form.ScanDate) }}</div>
		</div>
		<div class="row">
			<div class="col">{{ render_field(form.Barcode) }}</div>
			<div class="col">{{ render_field(form.Batch) }}</div>
		</div>
		<div class="row">
			<div class="col">{{ render_field(form.Location) }}</div>
			<div class="col">{{ render_field(form.Counts) }}</div>
		</div>
{% if not readonly %}
		<div class="row">
			<input type="submit" value="Update">
		</div>
{% endif %}
</form>
<img id="image" class="img-responsive" src="/images/{{settleplate.ID}}" style="width:100%;cursor:zoom-in">

<div id="imagemodal" class="modal">
	<div class="modal-content">
		<div class="modal-body">
			<img src="/images/{{settleplate.ID}}" data-dismiss="modal" data-target="imagemodal" id="imagezoom" style="width:100%;cursor:zoom-out">
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='hive/CFUdraw.js')}}"></script>
<script>
	$("#image").click(function() {
		$('#imagemodal').modal('show');
	});
	cfu_import('{{ colonies | tojson | safe }}')
</script>
{% endblock %}
