{% extends "interface.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<form class="form form-horizontal" method="post">
   {{ form.hidden_tag() }}
   {{ wtf.form_errors(form, hiddens="only") }}
   <fieldset><legend><label for='database'>Database</label></legend>
   {% for field in form.db if field.widget.input_type != 'hidden' %}
   <div class="row">
      <div class="col form-group">
         <div class="input-group">
            <div class="input-group-prepend">
               {{field.label(class_="input-group-text label-text")}}
            </div>
            {{field(class_="form-control")}}
         </div>
      </div>
   </div>
   {% endfor %}
   </fieldset>
   <fieldset><legend><label for='regex'>Regex search barcodes</label></legend>
      {% for field in form.regex if field.widget.input_type != 'hidden' %}
      <div class="row">
         <div class="col form-group">
            <div class="input-group">
               <div class="input-group-prepend">
                  {{field.label(class_="input-group-text label-text")}}
               </div>
               {{field(class_="form-control")}}
            </div>
         </div>
      </div>
      {% endfor %}
   </fieldset>
   <fieldset><legend><label for='users'>Users</label></legend>
      {% for field in form.users if field.widget.input_type != 'hidden' %}
      <div class="row">
         <div class="col form-group">
            <div class="input-group">
               <div class="input-group-prepend">
                  {{field.label(class_="input-group-text label-text")}}
               </div>
               {{field(class_="form-control")}}
            </div>
         </div>
      </div>
      {% endfor %}
   </fieldset>
   
   <input type="submit" value="Store">
</form>
{% endblock %}