{% extends "interface.html" %}
{% block head %}
   {{ super() }}
   <link href="static/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
   <script src="static/jsoneditor/jsoneditor.min.js"></script>
{% endblock %}
{% block page_content %}

<div id="jsoneditor" style="width: 100%; height: 600px;"></div>

<script>
   // create the editor
   const container = document.getElementById("jsoneditor")
   const options = {
      mode: 'code'
   };
   const editor = new JSONEditor(container, options)

   // set json
   editor.set({{settings|tojson|safe}})

   // get json
   //const updatedJson = editor.get()
</script>
{% endblock %}