<div class="form-group" hidden>
	<div class="input-group">
		<div class="input-group-prepend">
			<label class="input-group-text" style="width: 90px;">Input</label>
		</div>
		<input type="text" class="form-control" id="barcode" readonly>
		<div class="input-group-append">
			<div class="input-group-text"><i class="fa" id="input_glyph"></i></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" style="width: 90px;">User</label>
			</div>
			<input type="text" class="form-control" id="user" readonly placeholder="&lt;username&gt;">
			<div class="input-group-append">
				<div class="input-group-text"><i class="fa" id="user_glyph"></i></div>
			</div>
		</div>
	</div>
	<div class="col form-group">
		<div class="input-group">
			<div class="input-group-prepend">
				<label class="input-group-text" style="width: 90px;">Batch ID</label>
			</div>
			<input type="text" class="form-control" id="batch" readonly placeholder="&lt;batch id&gt;">
			<div class="input-group-append">
				<div class="input-group-text"><i class="fa" id="batch_glyph"></i></div>
			</div>
		</div>
	</div>
</div>