.idea
.vscode
__pycache__
flask_session
install/etc/.smbcredentials
install/etc/fstab
instance
log
run
venv
*.ipynb
*.sqlite
webdaemon/static/fontawesome
webdaemon/static/bootstrap
webdaemon/static/tensorflow
webdaemon/static/jsoneditor
sass
webdaemon/static/css/bootstrap_themed.css.map
webdaemon/static/css/bootstrap_themed.css
secret.key
config/production.json
config/testing.json
webdaemon/static/2021-08-17_-_8_Bit_Nostalgia_-_www.FesliyanStudios.com.mp3
webdaemon/static/fonts/joystix_monospace.otf

