.idea
.vscode
__pycache__
flask_session
install/etc/.smbcredentials
install/etc/fstab
instance
log
run
*.ipynb
*.sqlite
webdaemon/static/fontawesome
webdaemon/static/bootstrap
webdaemon/static/tensorflow
config.json
sass
webdaemon/static/css/bootstrap_themed.css.map
webdaemon/static/css/bootstrap_themed.css
